.header {
  padding: 45px 0 45px;
  background-color: $color3;
  .nav-link {
    font-family: Montserrat;
    font-style: normal;
    color: $color1;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.2px;
  }
  .nav-link:hover {
    color: $color2;
  }
}
